In [354]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

*IMPORTING DATASET*

In [355]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = movies.merge(credits, on= 'title')

In [356]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

#* GENRES | ID | KEYWORDS | TITLE | OVERVIEW | CAST | CREW *#

In [357]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [358]:
import ast

In [359]:
movies.isnull().sum()
movies.dropna(inplace=True)

In [360]:
movies.duplicated().sum()

0

In [361]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

*CONVERTING STRING TO LIST*

In [362]:
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

In [363]:
movies['genres'] = movies['genres'].apply(convert)

In [364]:
movies['keywords'] = movies['keywords'].apply(convert)

In [365]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [366]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [367]:
import ast
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
            counter = counter + 1
        else:
            break
    return L

In [368]:
movies['cast'] = movies['cast'].apply(convert)

In [369]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [370]:
import ast
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
        return L

In [371]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [372]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [373]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
3486,16172,Simply Irresistible,"After her mother's death, mediocre chef Amanda...",[Comedy],"[restaurant, department store, kitchen, love, ...","[Sarah Michelle Gellar, Sean Patrick Flanery, ...",[]
2655,172391,Khumba,A half-striped zebra is blamed for the drought...,"[Animation, Adventure, Family]","[3d, khumba]","[Jake T. Austin, Liam Neeson, Steve Buscemi]",[]
4722,38786,The Blood of My Brother: A Story of Death in Iraq,THE BLOOD OF MY BROTHER goes behind the scenes...,[],[],[],None
3807,14902,1776,The film focuses on the representatives of the...,"[Drama, Comedy, History, Music]","[usa, congress, musical]","[William Daniels, Howard Da Silva, Ken Howard]",[]
13,57201,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,"[Action, Adventure, Western]","[texas, horse, survivor, texas ranger, partner...","[Johnny Depp, Armie Hammer, William Fichtner]",None

In [374]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
        return L1

In [375]:
movies['genres'] = movies['genres'].apply(collapse)

In [376]:
movies['keywords'] = movies['keywords'].apply(collapse)

In [377]:
movies['cast'] = movies['cast'].apply(collapse)

In [378]:
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x] if x is not None else [])

In [379]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[cultureclash],[SamWorthington],[]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],[JohnnyDepp],[]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],[spy],[DanielCraig],[]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],[dccomics],[ChristianBale],[]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],[basedonnovel],[TaylorKitsch],[]

In [380]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [381]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [382]:
new = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])
new['tags'] = new['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")

#Converting List to String (tags)#

In [383]:
#new_df = movies[['movie_id', 'title', 'tags']]
#new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [384]:
new_df['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'cultureclash',
 'SamWorthington']

In [385]:
#new_df['tags'].apply(lambda x:x.lower())

***Vectorisation***

In [386]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [387]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [388]:
vector = cv.fit_transform(new['tags']).toarray()

In [389]:
vector.shape

(4806, 5000)

In [390]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [391]:
similarity

array([[1.        , 0.        , 0.05455447, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.04134491, 0.        ,
        0.        ],
       [0.05455447, 0.        , 1.        , ..., 0.03268602, 0.        ,
        0.        ],
       ...,
       [0.        , 0.04134491, 0.03268602, ..., 1.        , 0.        ,
        0.0541332 ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.0541332 , 0.        ,
        1.        ]])

In [392]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [393]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key = lambda x:x[1])
    for i in distances[1:6]:
        print(new.loc[i[0]].title)

In [394]:
recommend('Gandhi')

Albino Alligator
A Passage to India
Taxi to the Dark Side
Brooklyn
Namastey London

In [395]:
import pickle
pickle.dump(new,open('movie_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))